<div class="h-full container mx-auto px-4 flex flex-col justify-center items-center rounded-lg bg-white">
    <div class="py-4 px-4 w-2/3">
    <div class="flex justify-end mb-8">
       {{> addbtn}}
    </div>
        {{#each gigs}}
           <div class="mb-16">
               <div class="flex flex-row justify-between">
                   <p class="font-bold text-xl py-2">{{title}}</p>
                   <div class="mt-4 flex">
                       <form action="/client/edit/{{_id}}" method="post">
                            <input type="hidden" name="_method" value="PUT"> 
                            <button type="submit" class="mx-4">Completed?<i class="fa-solid fa-check fa-lg" style="color: blue;"></i></button>       
                    </form>
                       <form action="/client/del/{{_id}}" method="post">
                         <input type="hidden" name="_method" value="DELETE">
                         <button type="submit"><i class="fa-solid fa-trash fa-lg" style="color: red;"></i></button>
                       </form>
                   </div>
               </div>
               <span class="italic font-sm text-gray-500">Est budget MKW{{budget}} - <span>{{checkState state}} project</span></span>
               <p class="text-md py-2">{{{truncate description 250}}}</p>
               <div>
                   {{#each technologies as |tech|}}
                    <span class="mt-4 inline-block">
                        <a href="" class="bg-gray-300 hover:scale-50 rounded-full shadow-lg px-4 py-2">{{tech}}</a>
                    </span>
                   {{/each}}
               </div>
           </div>
        {{else}}
        <div class="text-center">No gigs available</div>
        {{/each}}
    </div>
</div>