<div class="h-full container mx-auto px-4 items-center">
   <div class=" shadow-lg rounded-xl mt-8">
       <a href="/home/freelancer/details/edit/{{profile.user._id}}" class="w-full px-4 py-2 font-bold text-white bg-blue-500 shadow-lg rounded-sm hover:bg-blue-600 focus:outline-none focus:shadow-outline">Edit profile</a>
       <div class="flex items-center justify-center">
           <div>
           <img src="{{profile.avatar}}" alt="" class="w-64 rounded-full mx-12 shadow-lg my-2 ">
       </div>
       <div class="w-1/2">
           <p class="text-xl font-bold mb-4">Details</p>
           <ul>
               <li class="font-bold text-lg">Name : <span class="font-normal">{{profile.user.first_name}} {{profile.user.last_name}}</span></li>
               <li class="font-bold text-lg">Email : <span class="font-normal">{{profile.user.email}}</span></li>
               <li class="font-bold text-lg">Phone : <span class="font-normal">{{profile.Phone}}</span></li>
           </ul>
       </div>
       </div>
   </div>
   <div class="my-8 rounded-lg shadow-lg">
       <div class="px-4 py-4">
           <h3 class="text-xl font-bold mb-4">Bio</h3>
           <p class="text-lg">{{profile.bio}}</p>
       </div>
   </div>
   </div>
</div>